/*-- Navigation and Heading --*/

.heading {
    min-height: 100px;
    background: #036666;
}

h1 {
    font-family: 'Libre Caslon Text', serif;
    font-weight: 700;
    color: #F5F5AB;
    padding-top: 20px;
    padding-left: 15px;
}

.flex-menu {
    align-self: flex-end;
}

a {
    font-family: 'Libre Caslon Text', serif;
    color: #DBDBBD;
    display: block;
    text-decoration: none;
    padding: 10px;
}

/*-- Body --*/

body {
    padding-top: 100px;
} /*-- this is to stop the navbar overlapping other content --*/

/*-- Chapter Excerpt and Reviews --*/

h2 {
    color: #F5F5AB;
    font-family: 'Libre Caslon Text', serif;
}

p {
    color: #DBDBBD;
}

a {
    font-family: 'Libre Caslon Text', serif;
    color: #DBDBBD;
    display: block;
    text-decoration: none;
    padding: 10px;
}

.main-home-section {
    padding: 20px;
    background: #469D89;
}

.main-home-section, img, h2 {
    border-top: 20px;
}